<div class="car">
  <div class="card-image">
    <figure class="image is-4by3">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.S_suKwTPPvt5hxoXe6_sngHaFO%26pid%3DApi&f=1"
        alt=""
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media-content">
      <p class="title is-4">Neat Tree</p>
      <p class="subtile is-6">@nature</p>
    </div>
    <div class="content">
      saw this awesome tree during my today
    </div>
  </div>
</div>
